@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    transition: all 0.2s ease-in-out;
    @apply px-4 py-2 text-white bg-blue-800 border-2 border-white rounded;
  }
  .btn:hover {
    @apply text-blue-800 bg-white;
  }

  .wrapper {
    @apply container mx-auto;
  }
}

.will-transition {
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.transitioning {
  opacity: 0;
}
